.impressum{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 200px;
  margin: 0 auto;
  list-style-type: none;
  text-decoration: none;
  font-family: "Work Sans xLight";
  font-size: 15px;
  margin-top: 50px;
  text-align: center;
  padding-bottom: 25px;
}