ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 0 auto;
  gap: 1rem;
  list-style-type: none;
  text-decoration: none;
  font-family: "Work Sans xLight";
  font-size: 25px;
  text-align: center;
}
.menu-logo{
  float: left;
  font-family: "Work Sans Regular";
}
@media (min-width: 900px) {
  ul { grid-template-columns: 6fr 1fr 1fr 1fr 1fr; }
}