ul {
  display: none;
}
.menuLogo {
  float: left;
  font-family: "Work Sans Regular";
}
/*Desktop*/
@media (min-width: 800px) {
  ul {
    grid-template-columns: 6fr 1fr 1fr 1fr 1fr;
    display: grid;
    margin: 0 auto;
    gap: 1rem;
    list-style-type: none;
    text-decoration: none;
    font-family: "Work Sans xLight";
    font-size: 25px;
    text-align: center;
  }
  .header{
    margin-top:20px;
  }
  li{
    transition-duration: 0.3s;
  }
  li:hover{
    transform: scale(1.1) translate(3.5%);
  }
  .menuLogo:hover{
    color:#ff7f1d;
  }
  .item1:hover{
    color: #ff7f1d;
  }
  .item2:hover{
    color: #ff4093;
  }
  .item3:hover{
    color: #ff7f1d;
  }
  .item4:hover{
    color: #ff4093;
  }
}
