@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "WorkSansLight";
  src: url("/src/fonts/WorkSans-Light.ttf");
}
@font-face {
  font-family: "WorkSansxLight";
  src: url("/src/fonts/WorkSans-ExtraLight.ttf");
}
@font-face {
  font-family: "WorkSansRegular";
  src: url("/src/fonts/WorkSans-Regular.ttf");
}