@import-normalize;
.portfolioText {
  margin-top:10px;
  text-align: center;
  color: #ff7f1d;
  font-family: "Work Sans xLight";
}
.gridItem {
  max-width: 100%;
  border-radius: 20px;
}
img {
  transition-duration: 0.4s;
}
img:hover {
  transform: scale(1.1);
}
.mobileNav{
  width:100%;
  margin:20px auto;
  text-align:center;
  margin-bottom:0px;
  transition-duration: 0.4s;
}
.mobiletext{
  padding-left:20px;
  padding-right:20px;
  font-size:25;
  transition-duration: 0.4s;
  width:30%;
}
.mobiletext:hover {
  transform: scale(1.5); 
}
@media (min-width: 800px) {
  .mobileNav {
    display: none;
  }
}